* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  height: 100vh;
  overflow: hidden;
}

/* Pages */
.page {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s ease;
}

.page.active {
  opacity: 1;
  pointer-events: auto;
}

/* PAGE 1 BACKGROUND */
#page1 {
  background:
    linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)),
    url("bg.jpeg") center/cover no-repeat;
}

#page1 h1 {
  color: white;
  font-size: 2.6rem;
  margin-bottom: 40px;
  text-shadow: 0 5px 20px rgba(0,0,0,0.6);
}

.buttons {
  display: flex;
  gap: 30px;
}

button {
  padding: 15px 40px;
  font-size: 1.2rem;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}

#yesBtn {
  background: #ff4d88;
  color: white;
  box-shadow: 0 8px 20px rgba(0,0,0,0.25);
}

#noBtn {
  background: white;
  box-shadow: 0 8px 20px rgba(0,0,0,0.25);
}

/* PAGE 2 */
#page2 {
  background: linear-gradient(135deg, #ffd6e8, #fff0f6);
}

.message {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 50px;
}

/* Image Slider */
.slider {
  width: 100%;
  overflow: hidden;
}

.slide-track {
  display: flex;
  width: calc(230px * 12);
  animation: scroll 45s linear infinite;
}

.slide-track img {
  width: 200px;
  height: 200px;
  margin: 0 15px;
  border-radius: 20px;
  object-fit: cover;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

@keyframes scroll {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}

.bg-image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: -1;
  background: black;
}
